* {
	background-color: #A7D4CB  ;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
}
header {
	border-style: dotted	;
	padding: 1em ;
}
main {
	padding: 10px 50px 20px;

}
img {
	padding: ;
}
