	
.eltitulo {
	font-family: 'Aboreto', cursive;
	font-family: 'Roboto Mono', monospace;
	align-items: center;
	background: #77A6B6;
	color: #fff;
	border-radius: 20px;

}
body {
	padding: 1% 10% 5%;
	background: #D5BF86;
	position: relative;
}
main {
	background: #F1F0CC;
	padding: 0% 5% 5% ;
	border-radius: 20px;
} 
.parrafosmain {
	padding-top: 3%;
}

#uanl {
	padding-top: 20px;
 	padding-right: 20px;
 	padding-left: 10px;
}

.img {
 	padding-top: 10px;
 	padding-right: 10px;
 	padding-left: 10px;
 }

.conclusiones {
	color: #fff;
	background: #8D775F;
	border-radius: 20px;
	padding: 2% 5% 2% 5% ;

}

.botones {
	color: #fff;
	background: #A71D31 ;
	padding: 12px;
	text-decoration: none;
	border: 2px solid #000;
	transition: .5s;
	justify-content: space-between;
	border-radius: 5px;
}
.botones:hover {
	background: #3F0D12;
}

